include template
block content 
    include components/navbar
    include components/navbarSecond

    .divider

    .buffer 
        h3 New Books
    .books
        each raamat in raamatList
            .book
                a(href=`/book/${raamat.raamatu_id}`, onclick=`console.log('Clicked on image: ${raamat.raamatu_id}')`)
                    img(src=`${raamat.pilt}`, class="book-image", style='flex-basis: 33.33%')
    .buffer
        h3 Popular Books
    .books
        each raamat in raamatList
            .book
                a(href=`/book/${raamat.raamatu_id}`, onclick=`console.log('Clicked on image: ${raamat.raamatu_id}')`)
                    img(src=`${raamat.pilt}`, class="book-image", style='flex-basis: 33.33%')
    .buffer